@{
    Layout = "_Layout";
    ViewData["Title"] = "Upload";
    var _Session = Context.Session.GetObject<SessionModel>("_Session") ?? new SessionModel();
}

<div class="text-center">
    <h1 class="display-4">Pleaser Upload File :</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
